@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  background-color: #d0e8fb;
  margin: 0;
  padding: 20px 100px;
  font-family: "Poppins", sans-serif;
}

img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  background: linear-gradient(145deg, #bce7ff, #9ec2de);
  box-shadow: 5px 5px 10px #96b8d2, -5px -5px 10px #caf8ff;
}

button {
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  background: linear-gradient(145deg, #dff8ff, #bbd1e2);
  box-shadow: 5px 5px 10px #b1c5d5, -5px -5px 10px #efffff;
}

button:hover {
  border-radius: 10px;
  background: #d0e8fb;
  box-shadow: inset 5px 5px 10px #b1c5d5, inset -5px -5px 10px #efffff;
}
